@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    background-color: #656568;
}

li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#EdF0F1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(36, 37, 42);
    padding:30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;

}
.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block;
    padding:0 20px;
}
.navbar li a{
    transition: all 0.3 ease 0s;

}
.navbar li a:hover {
    color: #0088a9;
}
button{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-left: 20px;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
.box1{
    color: #ffff;
    background-color: #24252a;
    text-align: center;
    font-family: "Open Sans";
    margin: 20px;
    padding: 36px;
    border-radius: 5px;
}
hr.divider{
    border-radius: 2px;
    width:9px;
    margin: 1.5em auto;
    position: relative;
    height: 9px;
    border: transparent;
    overflow: visible;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
}
hr:before {
    position: absolute;
    height: 9px;
    width: 10px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
    left: -18px;
  }
  
  hr:after {
    position: absolute;
    height: 9px;
    width: 9px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
    right: -18px;    
  }
.box1 p {
    margin-top: 10px;
    margin-left:100px;
    margin-right:100px;
}
.row{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-bottom: 10vh;

}
.column {
    background-color: #24252a;
    border: 1px solid white;
     text-align: center;
     color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans",sans-serif;
  }
.column p {
   font-size: 25px;
}
  
.column:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
 }
 .column:active{
    opacity: 0.6;
    transition: 0.2s;
 }
 .imggrid{
    display: grid;
    grid-auto-rows: 650px;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-bottom: 5rem;
    grid-row-gap: 1rem;
 }
 .imggrid p {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    margin-top: 65vh;
 }
 .card-3 p {
    margin-top: 58vh;
 }
.card-2 p{
   margin-top: 516px;
}
 .card-1:hover{
    opacity: 0.8;
    transition: 0.5s;
 }
 .card-2:hover{
    opacity: 0.8;
    transition: 0.5s;
 }

 .card-3:hover{
    opacity: 0.8;
    transition: 0.5s;
 }
 .card-1{
    opacity: 1;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .card-2{
    opacity: 1;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .card-3{
    opacity: 1;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .card-1:active{
    opacity: 0.6;
    transition: 0.2s;
    
 }
 .card-2:active{
    opacity: 0.6;
    transition: 0.2s;
    
 }
 .card-3:active{
    opacity: 0.6;
    transition: 0.2s;

 }
 .btn1{
    margin-left: 170px;
    background-color: #FFBF00;
    margin-top: 5px;
 }
 .btn2{
    margin-left: 180px;
    background-color: #FFBF00;
    margin-top: 5px;
 }
 .btn3{
    margin-left: 170px;
    background-color: #FFBF00;
 }
 .btn1:hover{
    background-color: #FFAC1C;
    transition: 0.2s;
 }
 .btn2:hover{
   background-color: #FFAC1C;
   transition: 0.2s;
}
.btn3:hover{
   background-color: #FFAC1C;
   transition: 0.2s;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
}
.row2{
   display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
	margin:0;
	padding:0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 100%;
    top: auto;
    padding-bottom: 50px;
    padding-top: 25px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0088a9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	opacity: 0.6;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer{
   top: auto;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 10
  }
  .footer{
   top:auto;
  }
}
